.sitka-carousel-container {
  margin: 0px auto;
  text-align: center;
}

/* Hide extra slides while loading */
.sitka-carousel .carousel-item {
  display: none;
}

.sitka-carousel .carousel-item:first-child {
  display: block;
}

.sitka-carousel.flickity-enabled .carousel-item {
  display: block;
}

/* Button Styling */
.sitka-carousel .flickity-prev-next-button {
  color: white;
  background-color: #333;
  width: 33px;
  height: 33px;
}

.sitka-carousel .flickity-prev-next-button:hover {
  background-color: #666;
}

.sitka-carousel .carousel-item {
  margin: 0 auto;
  width: 100%;
}

.sitka-carousel .carousel-item .carousel-item-cover {
  display: inline-block;
}

.sitka-carousel .carousel-item .carousel-item-image {
  width: 150px !important;
  height: 225px !important;
  z-index: 10;
  position: absolute;
}

.sitka-carousel .carousel-item .carousel-item-image-default {
  z-index: 5;
  position: relative;
}

.sitka-carousel .carousel-item .carousel-item-info {
  /* display: inline-block; */
}

.sitka-carousel .carousel-item .carousel-item-info .carousel-item-title {
  font-size: 0.8em;
}

.sitka-carousel .carousel-item .carousel-item-info .carousel-item-author {
  font-size: 0.7em;
  font-style: italic;
}

/* Description is hidden for now */
.sitka-carousel .carousel-item .carousel-item-description {
  display: none;
}
